body {
  margin: 0;
  text-align: center;
}

h3 {
  color: #eeeeee;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@font-face {
  font-family: scoreFont;
  src: url("./CursedTimerUlil-Aznm.ttf");
}

.container {
  display: flex;
  justify-content: space-around;
  background-color: #1b244a;
  color: #e0f2fe;
  width: 575px;
  height: 385px;
  margin: 50px auto 50px auto;
}

.score {
  background: #0a0001;
  font-size: 90px;
  color: #f94f6d;
  width: 120px;
  margin: 20px;
}

button {
  background: none;
  border: 1px double #9aabd8;
  color: #9aabd8;
  font-family: scoreFont;
}
